.DS_Store
node_modules
client/node_modules/
common/node_modules/
server/node_modules/
.*/npm-debug.log
chromeExtension.zip
server/listens/express/assets/icon/*
extention/talkn.client.js
common/pems/*
dump.rdb
package-lock.json
yarn-error.log
chromeExtension.zip