<!DOCTYPE html>
<html>
  <head>
    <title>talkn for web</title>
    <script type="text/javascript" defer src="https://<%= componentsURL %>"></script>
  </head>
  <body>
    <div class="talknThread" data-ch="/"></div>
  </body>
</html>
