
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
    body {
        color: rgb(255,255,255);
        margin: 0;
        font-family: 游ゴシック, YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
        letter-spacing: 0.05em;
        font-size: 100%;
    }

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 1;
    }

    .fixBackground {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 0;
        width: inherit;
        height: inherit;
        background: url("//<%= assetsURL %>/www/img1.jpg") center center no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        z-index: 2;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 960px;
    }

    h3 {
        padding: 1vw 0px 0px 0px;
        margin: 0;
        font-size: 1.5em;
        letter-spacing: 0.25em;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100px;
        z-index: 1;
    }

    .menus, nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .headBar {
        width: 100%;
        min-height: 5px;
        background-color: rgba(0,0,0,0.9);
    }

    nav {
        position: absolute;
        top: 45px;
        width: inherit;
        height: 55px;
        background: rgba(255,255,255,0.9);
        color: rgb(100, 100, 100);
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0,0,0,0.1)
    }

    nav ul {
        max-width: 800px;
        min-width: 320px;
    }
    
    .menus {
        position: absolute;
        top: 0px;
        flex-direction: row;
        height: 45px;
        background: rgba(0,0,0,0.8);
    }

    ul, .pointerWrap {
        display: flex;
        justify-content: space-between;
        width: inherit;
        height: 50px;
        max-width: 800px;
        min-width: 320px;
        margin: 0;
        padding: 0;
    }

    nav li, .menus li, footer li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        cursor: pointer;
    }

    nav li {
        
    }

    .selectMenuWrap {
        position: fixed;
        top: -27px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgb(0,0,0,0.7);
        border-radius: 100px;
        font-size: 12px;
    }

    .pointerWrap {
        position: absolute;
        height: initial;
        top: 43px;
    }

    .pointer{
        width: calc( 10% );
        margin: 0px 7.5% 0px 7.5%;
        height: 5px;
        border-radius: 10px;
        background: rgb(79, 174,159);
        color: rgb( 255, 255, 255 );
        z-index: 1;
        transition: 300ms;
        transform: translate3d( 0px, 0px, 0px );
    }

    .accessory {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 50px;
        height: 50px;
        font-size: 10px;
        line-height: 30px;
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: -25px;
        border-radius: 100px;
        color: rgb(255,255,255);
        transition: 300ms;
        transform: translate3d(0px,-25px,0px);
    }

    .accessory-case {
        position: fixed;
        top: -100px;
        width: 100%;
        height: 100px;
        background: rgb(255,255,255);
    }

    ::placeholder {
        color: rgba( 120,120,120 );
        font-size: 1.3em;
        text-indent: 3vw;
        letter-spacing: 0.25vw;
    }
    
    input {
        width: inherit;
        box-sizing: border-box;
        border: 4px solid rgba( 255,255,255,0.5);
        border-radius: 20px;
        padding: 10px;
        background-color: rgba(255,255,255,0.5);
        outline: 0;
        text-indent: 3vw;
        letter-spacing: 0.25em;
        font-size: 10px;
        line-height: 14px;
    }

    section .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        width: 100%;
    }

    section.one{
        flex-direction: column;
        font-size: 5vw;
    }

    section.one .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    section.one .eyecatch {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 0px 100px 0px;
    }

    section.one .subtitle {
        width: 100%;
        text-align: center;
        letter-spacing: 0.75em;
        text-shadow: 0px 0px 3px rgb(0,0,0);
    }

    section.one h1 {
        margin: 0;
        text-align: center;
        font-size: 1em;
        color: rgba(255, 255, 255, 1);
        text-shadow:
            1px 1px 5px rgb(20,20,20),
            -10px -10px 50px rgb(255,255,255),
            10px 10px 50px rgb(255,255,255),
            10px 10px 50px rgb(255,255,255);
    }

    section.one form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0px 0px 100px 0px;
    }

    section.one .inputWrap {
        min-width: 300px;
        width: 86%;
        max-width: 600px;
        margin: 0px 0px 100px 0px;
    }

    section.one .inputWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    section.one .searchIcon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: 36px;
        height: 32px;
        z-index: 0;
        margin: 0px 0px 0px 70%;
    }

    section.one .searchIcon .circle{
        overflow: hidden;
        width: 16px;
        height: 16px;
        padding: 0px;
        margin: 0px;
        border: 3px solid rgba(255, 255, 255, 0.7);
        border-radius: 100px;
        z-index: 1;
        transform: scale(1);
    }

    section.one .searchIcon .bar{
        width: 4px;
        height: 10px;
        border: 0px;
        border-radius: 10px;
        z-index: 1;
        position: absolute;
        top: 21px;
        left: -2px;
        background: rgba(255, 255, 255, 0.7);
        letter-spacing: 1.5px;
        white-space: normal;
        quotes: none;
        content: none;
        cursor: default;
        text-align: center;
        transition: all 600ms ease 0s;
        transform: scale(1) translate3d(0px, 0px, 0px) rotate(45deg);
    }

    section.two{
        font-size: 5vw;
        flex-direction: initial;
        background: linear-gradient(to top right, rgba(9, 104, 89,0.9), rgba(109, 204, 189,0.9));
    }

    section.two .bar {
        width: 100%;
        height: 30vw;
        max-height: 300px;
        background: rgba( 79,174,159, 0.8);
    }

    section.two .content-left {
        width: 60%;
        text-align: right;
        font-size: 0.65em;
    }

    section.two .content-right {
        width: 40%;
        height: 500px;
        background-image: url("//<%= assetsURL %>/www/cap1.png");
        background-position: 10% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    section.two h2 {
        font-size: 1.2em;
        letter-spacing: 0.2em;
    }

    section.two h3 {
        padding: 0;
        margin: 0;
        font-size: 0.7em;
        letter-spacing: 0.25em;
        text-align: right;
    }

    section.three {
        flex-direction: initial;
        font-size: 5vw;
    }

    section.three .content {
        height: inherit;
    }

    section.three .content-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: inherit;
        background: rgba(70,70,70,0.9);
        overflow: visible;
    }

    section.three .content-left .iframeCap{
        width: 80%;
        height: 50%;
        background-image: url(//assets.localhost/www/iframe.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate3d(0% ,0px, 0px) rotate(0deg);
    }

    section.three h2 {
        width: 90%;
        padding: 0;
        margin: 0;
        font-size: 1.2em;
        letter-spacing: 0.075em;
        text-align: left;
    }

    section.three h3 {
        width: 90%;
        font-size: 1em;
        letter-spacing: 0.25em;
        padding: 3vw 0px 0px 0px;
    }

    section.three .content-left pre {
        font-size: 0.65em;
        letter-spacing: 0.2em;
    }

    section.three .content-left .one-line{
        color: rgb(173, 154, 255);
    }

    section.three .content-left .tag-name{
        color: rgb(255, 115, 157);
    }

    section.three .content-left .property-name{
        color: rgb(216, 255, 121);
    }

    section.three .content-left .value{
        color: rgb(220, 220, 30);
    }


    section.three .content-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        height: inherit;
    }

    section.three .content-right-top {
        width: 100%;
        height: 33.3%;
        background: rgba(255,255,255,0.9);
    }

    section.three .content-right-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 33.3%;
        background: rgba(70,70,70,0.9);
        letter-spacing: 0.25em;
        font-size: 0.65em;
    }

    section.three .content-right-bottom {
        width: 100%;
        height: 33.3%;
        background: rgba(255,255,255,0.9);
    }

    section.three h3 {
        font-size: 0.7em;
        letter-spacing: 0.075em;
    }

    section.three input {
        width: 80%;
        max-width: 600px;
        height: 40px;
        margin: 10px;
        border: 0;
        border-radius: 20px;
        outline: 0;
        background: rgba(255,255,255,0.9);
        text-indent: 2em;
        letter-spacing: 0.5em;
        color: rgb(130,130,130);
        font-weight: bold;
    }

    section.fourth {
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(65, 105, 225, 0.8);
        font-size: 5vw;
    }

    section.fourth .future {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 160px;
        padding: 50px 0px 0px 0px;
        width: 100%;
        font-size: 0.65em;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    section.fourth h2 {
        padding: 0;
        margin: 0px 0px 70px 0px;
        font-size: 0.65em;
        letter-spacing: 0.2em;
        text-align: center;
    }

    section.fourth .under-bar {
        position: relative;
        left: -0.3vw;
        width: 14vw;
        height: 4px;
        background: rgb( 255,255,255);
        border-radius: 30px;
    }

    section.fourth .content{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: calc( 80% - 80px );
    }

    section.fourth .content-left, section.fourth .content-right {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0 5%;
        border: 5px solid rgb(255,255,2555);
        border-radius: 20px;
        width: 40%;
        height: 70%;
        text-align: center;
        background: rgba(65, 105, 225, 1);
    }

    section.fourth .terminal {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    section.fourth .status {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        padding: 10px;
        font-size: 0.5em;
    }

    section.fourth .tools {
        width: 100%;
        height: 50%;
        background-image: url("//<%= assetsURL %>/www/tools.png");
        background-position: 50% 33%;
        background-repeat: no-repeat;
        background-size: 33%;
    }

    footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 160px;
        background: rgba(0,0,0,0.8);
        padding: 0px 0px 20px 0px;
    }

    .highlight {
        color: yellow;
    }

    a:link {
        font-size: 0.75em;
        color: rgb(255,255,255);
        text-decoration: none;
    }
    a:visited {
        color: rgb(255,255,255);
    }
    a:hover {
        color: rgb(255,255,255);
    }
    a:active {
        color: rgb(255,255,255);
    }

    @media screen and (min-width:0px) and ( max-width:600px) {

        ::placeholder {
            text-indent: 2vw;
            letter-spacing: 0.5vw;
        }

        input {
            text-indent: 2vw;
            letter-spacing: 0.5vw;
        }

        section.one h1 {
            font-size: 30px !important;
        }

        section.one .subtitle {
            font-size: 0.8em !important;
        }

        section.one .eyecatch {
            margin: 0px 0px 75px 0px;
        }
        
        section.one form {
            margin: 0px 0px 200px 0px;
        }

        h2 {
            letter-spacing: 0.1em !important;
            font-size: 1.5em !important;
        }

        h3 {
            font-size: 2em;
            letter-spacing: 0.1em !important;
        }

        section {
            height: 600px;
        }

        section.two .bar {
            height: 40vw !important;
        }

        section.two .content-right {
            background-size: contain;
            transform: rotate(-5deg) scale(1.75) translate3d(35px, 0px, 0px);
        }
        
        section.two h3 {
            font-size: 0.9em;
        }

        section.three .content {
            flex-direction: column-reverse !important;
        }

        section.three .content-left {
            width: 100% !important;
            height: 50% !important;
        }

        section.three .content-left pre {
            font-size: 0.9em;
            font-weight: bold;
        }

        section.three .content-right {
            width: 100% !important;
            height: 50% !important;
        }

        section.three h2 {
            width: 70% !important;
        }

        section.three h3 {
            font-size: 0.9em;
            width: 70% !important;
        }

        section.three .content-right-middle {
            height: 50vw !important;
        }

        section.three .content-left .iframeCap {
            position: relative;
            top: -50%;
            bottom: 0vw;
            width: 100%;
            min-height: 200%;
            background-position: 5% 95%;
            background-size: 43vw;
        }

        section.fourth h2 {
            margin: 0px 0px 30px 0px;
            font-size: 1.0em !important;
        }

        section.fourth .content-right, section.fourth .content-left {
            height: 90%;
        }

        section.fourth .future {
            height: 100px;
            font-size: 25px !important;
        }

        section.fourth .under-bar {
            width: 115px !important
        }

        section.fourth .terminal {
            font-size: 25px !important;
        }

        section.fourth .status {
            font-size: 15px !important;
        }

        section.fourth .tools {
            background-size: 50%;
        }
    }

    @media screen and (min-width:1206px) {
        h2 {
            font-size: 45px !important;
            letter-spacing: 0.15em !important;
        }

        pre {
            font-size: 30px !important;
        }

        h3 {
            font-size: 18px !important;
        }


        section.one h1 {
            font-size: 60px !important;
        }

        section.three .content-left .iframeCap {
            background-size: 340px;
        }

        section.fourth .future {
            font-size: 45px !important;
        }

        section.fourth .under-bar {
            width: 200px;
        }

        section.fourth .terminal {
            font-size: 45px !important;
        }

        section.fourth .status {
            font-size: 22px !important;
        }

        section.fourth .tools {
            background-size: 128px;
        }

        section.fourth .content-left {
            margin: 0 10%;
            width: 30%;
        }

        section.fourth .content-right {
            margin: 0 10%;
            width: 30%;
        }
    }
</style>

<script type="text/javascript">
    const responsiveWidth = 640;
    const headerHeight = 100;
    const pointerStyles = [
        {width: "10%", transform: "translate3d(0%,0px,0px)"},
        {width: "10%", transform: "translate3d(250%,0px,0px)"},
        {width: "10%", transform: "translate3d(500%,0px,0px)"},
        {width: "10%", transform: "translate3d(750%,0px,0px)"}
    ];
    const menuStyles = {
        active: {color: "rgb(79, 174, 159)"},
        unactive: {color: "rgb(55, 55, 55)"},
    }
    let screen = 0;
    let isAnimateScrolling = false;
    let oneScreenHeight = 600;

    function onMouseOver(num){
        movePointer(num);
        setMenuColor();
    }

    function onMouseLeave(num){
        movePointer(screen);
        setMenuColor();
    }

    function onClick(num){
        setScreen(num);
        movePointer(num, true);
        setMenuColor();
    }

    function getCalcScreen(){
        const { scrollY, innerHeight } = window;
        if( 0 <= scrollY && scrollY < ( oneScreenHeight * 1 ) + headerHeight) {
            screen = 0;
        }else if( oneScreenHeight + headerHeight <= scrollY && scrollY < ( oneScreenHeight * 2 ) + headerHeight ){
            screen = 1;
        }else if( ( oneScreenHeight * 2 ) + headerHeight <= scrollY && scrollY < ( oneScreenHeight * 3 ) + headerHeight ){
            screen = 2;
        }else if( ( oneScreenHeight * 3 ) + headerHeight <= scrollY ){
            screen = 3;
        }
        return screen;
    }

    function setScreen(num){
        if(num){
            screen = num;
        }else{
            screen = getCalcScreen();
        }
        return screen;
    }

    function setMenuColor(){
        if( window.menuLis ){
            window.menuLis.forEach( (menuLi, i) => {
                menuLi.style.color = screen === i ? menuStyles.active.color : menuStyles.unactive.color;
            } );
        }
    }

    function movePointer(num = 0, animateScroll = false){
        const { scrollY, innerHeight } = window.scrollY;
        const pointerStyle = pointerStyles[ num ];
        const pointer = document.querySelector(".pointer");
        pointer.style.width = pointerStyle.width;
        pointer.style.transform = pointerStyle.transform;
        const moveScrollY = num === 0 ? 0 : ( oneScreenHeight * num ) + headerHeight ;
        if( animateScroll ){
            animateScrollTo( moveScrollY, 600 );
        }
    }

    function setNavStyles(){
        const nav = document.querySelector("nav");
        const accessory = document.querySelector(".accessory");
        const scrollY = window.scrollY;

        if( scrollY < 45 && nav.style.position === "fixed" ){
            document.querySelector("nav").style.position = "absolute";
            document.querySelector("nav").style.top = "45px";
            document.querySelector(".accessory").style.transform = "translate3d(0px, -25px, 0px)";
        }else if(scrollY >= 45 && nav.style.position === "absolute"){
            document.querySelector("nav").style.position = "fixed";
            document.querySelector("nav").style.top = "0px";
            document.querySelector(".accessory").style.transform = "translate3d(0px, 0px, 0px)";
        }else if( nav.style.position === "" ){
            document.querySelector("nav").style.position = "absolute";
            document.querySelector("nav").style.top = "45px";
            document.querySelector(".accessory").style.transform = "translate3d(0px, -25px, 0px)";
        }
    }

	function animateScrollTo( to = 99999, duration = 400,  callback = () => {} ){

        if( duration === 0 ){
            window.scrollTo(0, to);
        }else{

            if( !isAnimateScrolling ){
                let start = window.scrollY;
                let change = to - start;
                let currentTime = 0;
                let increment = 20;

                const animateScroll = ()　=>　{
                    currentTime += increment;
                    let scrollTop = Math.easeInOutQuad(currentTime, start, change, duration);
                    screenTop = Math.floor( scrollTop );
                    window.scrollTo(0, scrollTop);

                    if(currentTime < duration){
                        isAnimateScrolling = true;
                        setTimeout(animateScroll, increment);
                    }

                    if( to === screenTop){
                        isAnimateScrolling = false;
                        callback();
                    }
                };
                animateScroll();
            }
        }
    }

    function setupMath(){
		Math.easeInOutQuad = function (t, b, c, d) {
			t /= d/2;
			if (t < 1) return c/2*t*t + b;
			t--;
			return -c/2 * (t*(t-2) - 1) + b;
		};
	}

    function onMouseOverInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 79,174,159,0.8)";
    } 

    function onMouseLeaveInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 0,0,0,0.2)";
    } 

    function onFocusInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 79,174,159,0.8)";
    } 

    function onBlurInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 0,0,0,0.2)";
    } 

    function onResizeWindow(){
        let newOneScreenHeight = 0;
        if( window.innerWidth < responsiveWidth ){
            newOneScreenHeight = 600;
        }else{
            newOneScreenHeight = 960;
        }

        if( oneScreenHeight !== newOneScreenHeight ){
            oneScreenHeight = newOneScreenHeight;
            screen = setScreen();
            movePointer(screen);
            setNavStyles();
            setMenuColor();
        }
    } 

    window.onload =  ( e ) => {
        onResizeWindow();
        setupMath();
        window.pointer = document.querySelector(".pointer");
        window.menuLis = document.querySelectorAll("nav li");
        window.nav = document.querySelector("nav");
        setNavStyles();
        setMenuColor();
    };

    window.onscroll =  ( e ) => {

        setNavStyles();

        if( !isAnimateScrolling ){

            let beforeScreen = screen;
            screen = setScreen();

            if( screen !== beforeScreen){
                movePointer(screen);
                setMenuColor();
            }
        }
    };

    window.onresize = onResizeWindow;

</script>

</head>
<body>
    <!--
    <video src="https://assets.localhost/www/movie2.mp4" autoplay loop muted></video>
    -->
    <div class="fixBackground">
        <div class="background"></div>
    </div>
    <div class="container">

        <header>
            <div class="menus">
                <ul>
                    <li>Apps</li>
                    <li>talkn</li>
                    <li>Company</li>
                </ul>
            </div>

            <nav>
                <div class="headBar"></div>
                <ul>
                        <li onclick="onClick(0)" onmouseover="onMouseOver(0)" onmouseleave="onMouseLeave(0)">Portal</li>
                        <li onclick="onClick(1)" onmouseover="onMouseOver(1)" onmouseleave="onMouseLeave(1)">Chrome</li>
                        <li onclick="onClick(2)" onmouseover="onMouseOver(2)" onmouseleave="onMouseLeave(2)">iframe</li>
                        <li onclick="onClick(3)" onmouseover="onMouseOver(3)" onmouseleave="onMouseLeave(3)">iOS|Android</li>
                </ul>
                <div class="pointerWrap">
                    <div class="pointer" />
                </div>
            </nav>
            <div class="accessory">Apps</div>
            <div class="accessory-case"></div>
        </header>

        <section class="one">
            <div class="content">
                <div class="eyecatch">
                    <h1>
                        '心が震える瞬間'の<br />
                        世界中のコメントを<br />
                        あなたに届けます。
                    </h1>
                </div>

                <div class="inputWrap">
                    <div class="searchIcon">
                        <div class="circle"></div>
                        <div class="bar"></div>
                    </div>
                    <input
                        type="text"
                        size="40"
                        placeholder="Input URL or Phrase"
                    />
                </div>
            </div>
        </section>
        <section class="two">

            <div class="bar"></div>

            <div class="content">
                <div class="content-left">
                    <h2>
                        世界中のWEBサイトに<br />コメントを付けよう。
                        <!--
                        <span class="highlight">
                            Commnet
                        </span> to<br />
                        all websites<br />
                        around the world
                        -->
                    </h2>
                    <h3>- No login communication -</h3>
                </div>
                <div class="content-right" />
            </div>

        </section>

        <section class="three">
                <div class="content">
                     <div class="content-left">
                         <div class="iframeCap"></div>
<!--
                        <code>
                            <pre>
<span class="one-line">// Embed one line.</span>
<span class="tag-name">&lt;iframe</span>
    <span class="property-name">src</span>=<span class="value">"//talkn.io"</span>
    <span class="property-name">width</span>=<span class="value">"300px"</span>
    <span class="property-name">height</span>=<span class="value">"450px"</span>
    <span class="property-name">frameBorder</span>=<span class="value">"0"</span>
<span class="tag-name">/&gt;</span></pre>
                        </code>
                    -->
                    </div>
                    <div class="content-right">
                        <div class="content-right-top"></div>
                        <div class="content-right-middle">
                            <h2>
                                世界中のWEBサイトに<br />埋め込もう。
<!--
                                <div>
                                    <span class="highlight">
                                        Embed
                                    </span>
                                    </span>
                                        to
                                        <br />
                                        all websites<br />
                                        around the world
                                    </span>                                
                                </div>
                            -->
                            </h2>
                            <h3>- Let's write one line in HTML5 -</h3>
                        </div>
                        <div class="content-right-bottom"></div>
                    </div>
                </div>
        </section>

        <section class="fourth">

            <div class="future">
                Future
                <div class="under-bar"></div>
            </div>
        
            <h2>
                毎日の「楽しい」「感動」を<br />ログインレスで話そう。<br />
            </h2>

            <div class="content">
                <div class="content-left">
                    <div class="terminal">iOS</div>
                    <div class="status">
                        Expected to be released<br/>
                        in August 2019.
                    </div>
                    <div class="tools"></div>
                </div>
                <div class="content-right">
                    <div class="terminal">Android</div>
                    <div class="status">
                        Expected to be released<br/>
                        in August 2019.
                    </div>
                    <div class="tools"></div>
                </div>
            </div>
        </section>

         <footer>
            <ul>
                <li>Campany</li>
                <li>Portal</li>
                <li>Apps</li>
            </ul>
            <div>Copyright © talkn, Inc.</div>
        </footer>
    </div>
</body>
</html>
