<!doctype html>
<html lang=<%= language%>>
<head>
<title>talkn</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="Comment to web. talkn can share comments with users watching the same web page. Please enjoy the world of talkn." name="description">
<script type="text/javascript" src="https://<%= wwwURL %>/sw.js"></script>
</head>
<body>
TEST
</body>
</html>
